a {
  text-decoration: none;
}

ion-header {
  h1, h2 {
    margin: 0;
  }

  h1 {
    font-style: bold;
  }

  h2 {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
  }
}

ion-content {
  --background: none;
  background-image: url(../../assets/background/triangle-grp-horizontal.png);
  background-position: center center;
  background-size: cover;
  --color: rgb(61, 1, 61);

  @media screen and (orientation:portrait) {
    background-image: url(../../assets/background/triangle-grp-vertical.png);
  }

  h1 {
    font-size: xx-large;
  }

  h2 {
    font-size: x-large;
  }
}

ion-footer {
  background-color: #3880ff;

  ion-card-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #c7a5eb;

    ion-icon {
      color: white;
      font-size: 32px;
    }
  }
}