<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Elise A. Weir, PhD</ion-title>
    <ion-title>professional math nerd + dev</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row class="ion-justify-content-end">
      <ion-col size-md="2" size="8">
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>find me</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <a href="https://www.linkedin.com/in/eliseaweir/">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
            <a href="https://github.com/eliseweir/">
              <ion-icon name="logo-github"></ion-icon>
            </a>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
