a {
  text-decoration: none;
}

ion-content {
  --background: none;
  background-image: url(../../assets/background/triangle-grp.png);
  background-color: #e1cdf5;
  background-size: 150%;
  background-position: center center;
  background-blend-mode: soft-light;
}

ion-footer {
  background-color: #3880ff;

  ion-card-header {
    --background: white;
    color: #c7a5eb;
  }

  ion-card-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #c7a5eb;

    ion-icon {
      color: white;
      font-size: 32px;
    }
  }
}
