<ion-header>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <h1>
            Elise A. Weir, Ph.D.
          </h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <h2>
            professional math nerd + dev
          </h2>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6" size="12">
        <h1>Hi, I'm Elise.</h1>
        <h2>I've been a software developer for the RFID team at FedEx since February 2021, and before that, I was a
          Visiting Assistant Professor with the Math Department at UCSB. I'll always be a
          mathematician at heart, but I'm excited to have opportunities to apply my skills to technological problems and
          continue pursuing my life-long passion for learning.</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row class="ion-justify-content-end">
      <ion-col size-md="2" size="6">
        <ion-card>
          <ion-card-content>
            <a href="https://www.linkedin.com/in/eliseaweir/">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
            <a href="https://github.com/eliseweir/">
              <ion-icon name="logo-github"></ion-icon>
            </a>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>